.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.lock
**/Flutter/ephemeral/
**/Pods/
**/.symlinks/
/android/app/debug
/android/app/profile
/android/app/release
